html, body {
    height: 100%;
    background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('img/Achtergrond.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(0, 0%, 64%);
    background-attachment: fixed;
}

.logo {
    position: fixed;
    top: 28px;
    left: 55px;
    z-index: 2;
    width: 90px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:courier, sans-serif;
    margin-top: 10px;
    padding-top: 10px;
}

main {
    flex: 1;
    margin-left: 200px;
    margin-right: 200px;
}
body {
    background-color: #f0f0f0;
    line-height: 1
}

.navigation {
    padding-top: 0;
    padding-left: 0;
    position: fixed;
    width: 180px;
    height: 100vh;
    background-color: #f0f0f0;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.navigation ul {
    padding: 0px;
    margin: 0;
    width: 100%;
}

.navigation li {
    padding: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.navigation a {
    display: block;
    padding: 30px;
    padding-left: 30px;
    font-family: courier, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: padding 0.3s ease, font-size 0.3s ease;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation a.active {
    border: 3px solid black;
    border-radius: 10px;
    background-color:#bbb;
}

.footer {
    margin-left: 200px;
    padding: 10px;
    position: relative;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-right: 20px;
    text-align: center;
    position: fixed;
    right: 0;
}

.timeline label {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;

}

.timeline label:hover {
    background-color: #e0e0e0;
}

.timeline a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.content h2 {
    font-family:courier, sans-serif;
    text-align: center;
}

.content-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.png-Geschiedenis {
    width: 285px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .navigation {
        width: 110px;
        padding-top: 100px;
    }

    .navigation a {
        padding: 20px;
        font-size: 12px;
    }

    main, .footer {
        margin-left: 130px;
    }

    .timeline {
        position: fixed;
        overflow-x: auto;
        padding: 10px;
        margin-bottom: 20px;
        justify-content: space-around;
    }

    .content {
        padding: 10px;
    }
}